---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Slide from '../../components/slides/Slide.astro';
import { fade } from 'astro:transitions';
import BackButton from '@/components/BackButton.astro';

export async function getStaticPaths() {
  const slides = await getCollection('slides');
  slides.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
  return slides.map((_, index) => ({
    params: { index: index.toString() },
  }));
}

const slides = await getCollection('slides');
slides.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
const currentIndex = parseInt(Astro.params.index, 10);
const currentSlide = slides[currentIndex];
const prevIndex = currentIndex > 0 ? currentIndex - 1 : null;
const nextIndex = currentIndex < slides.length - 1 ? currentIndex + 1 : null;

// Get the previous page URL
const referer = Astro.request.headers.get('referer') || ''; // "/" or "/presentation/#"
const isFromHome = referer.endsWith('/');

// const previousPageIndex = isFromHome ? null : parseInt(referer.split('/').pop() || '0', 10);
// const slideDirection = previousPageIndex === null ? null : previousPageIndex < currentIndex ? 'left' : 'right';

export const prerender = false; // so that we can check which transition is used
---

<Layout>
  <BackButton />
  <div class="z-10 flex h-screen items-center justify-center px-24 pt-24 pb-16">
    <div
      id="content"
      class="w-full"
      transition:name={`/presentation/${currentIndex}`}
      transition:animate={isFromHome ? fade({ duration: 1 }) : 'slide'}
    >
      <Slide slide={currentSlide} />
      <div class="mt-4 flex justify-between">
        {
          prevIndex !== null ? (
            <a id="prev-slide" class="transition-link text-blue-400" href={`/presentation/${prevIndex}`}>
              Previous
            </a>
          ) : (
            <div />
          )
        }
        {
          nextIndex !== null ? (
            <a id="next-slide" class="transition-link text-blue-400" href={`/presentation/${nextIndex}`}>
              Next
            </a>
          ) : (
            <div />
          )
        }
      </div>
    </div>
  </div>
</Layout>
<script>
  document.addEventListener('keydown', e => {
    switch (e.key) {
      case 'Escape':
        (document.getElementById('home-link') as HTMLAnchorElement)?.click();
        break;
      case 'ArrowLeft':
        (document.getElementById('prev-slide') as HTMLAnchorElement)?.click();
        break;
      case 'ArrowRight':
        (document.getElementById('next-slide') as HTMLAnchorElement)?.click();
        break;
    }
  });
</script>
