---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import SlidePreview from '../components/slides/SlidePreview.astro';

const slides = await getCollection('slides');
slides.sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));
console.log('slides', slides.length, slides);
---

<Layout>
  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-4">
{slides.map((slide, index) => <div><a href=`/presentation/${index}`><SlidePreview slide={slide} /></a></div>)}
    </div>
  </div>
</Layout>
