---
import { type CollectionEntry, render } from 'astro:content';
import SlideLayout from './SlideLayout.astro';

interface Props {
  slide: CollectionEntry<'slides'>;
}

const { slide } = Astro.props;
const { Content } = await render(slide);
---

<SlideLayout>
  <h2 class="mb-4 text-3xl">{slide.data.title}</h2>
  <article class="prosep prose-2xl prose-invert max-w-none">
    <Content />
  </article>
</SlideLayout>
