---
import type { CollectionEntry } from 'astro:content';
import Slide from './Slide.astro';

interface Props {
  slide: CollectionEntry<'slides'>;
}

const { slide } = Astro.props;
---

<div class="aspect-video w-64 overflow-hidden rounded border border-gray-700">
  <div class="relative w-full">
    <div class="aspect-video w-[200%] origin-top-left scale-50 transform">
      <Slide slide={slide} />
    </div>
  </div>
</div>
