---
import type { CollectionEntry } from 'astro:content';
import SlideLayout from './SlideLayout.astro';

interface Props {
  slide: CollectionEntry<'slides'>;
}

const { slide } = Astro.props;
---

<SlideLayout>
  <section class="flex h-full flex-col items-center justify-center rounded-lg bg-blue-500 p-8">
    <h1 class="text-6xl font-bold">{slide.data.title}</h1>
    {slide.data.subtitle && <h2 class="text-3xl font-bold">{slide.data.subtitle}</h2>}
  </section>
</SlideLayout>
